html {
  background-color: #e7ecdc;
  font-size: 15px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #f09d0e;
  padding: 0 20px 20px 20px;
  border: 5x solid black;
}
h1 {
  margin: 0;
  color: rgb(118, 178, 34);
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}
h2 {
  color: rgb(240, 83, 83);

}
h3 {
  color: chartreuse;
}
h4 {
  color: blue;
}
img {
  display: block;
  margin: 0 auto;
}
